body, html {
    margin: 0;
}

section {
    min-height: 100vh;
}

*{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Lato', sans-serif;
}
h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* font-family: 'Lato', sans-serif; */

/* NAVBAR */

div.navbar {
    height: 15vh;
    width: 100vw;
    background: rgba(255, 255, 255, .6);
    display: flex;
    align-items: center;
    position: fixed;
}

div.navbar div.logo {
    min-height: 95%;
    width: 15%;
    padding: 0 10%;
}

div.navbar div.links {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.navbar a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.15em;
    letter-spacing: 1px;
}

/* SECCION INICIO */

section#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/assets/fondoEspacio.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

section#inicio h1 {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}

section#inicio h2 {
    margin-top: 20px;
    font-style: italic;
    ;
}

section#inicio p {
    width: 45%;
    text-align: center;
    font-size: 1.2em;
}

/* SECCION INFO */

section#info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-image: url("/assets/nebulosa.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding: 5vw 15vw;
}

section#info h3 {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 15px;
}

section#info div.item {
    width: 60%;
    margin-bottom: 10vh;
}

section#info div.item:nth-child(odd) {
    align-self: flex-end;
    text-align: right;
}

section#info div.full {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

section#info div.idea {
    align-items: flex-start;
}

section#info div.full h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

section#info div.descripcion {
    width: 30%;
}

section#info div.todo {
    justify-content: center;
}

section#info div.todo * {
    margin: 0 2vw;
    max-width: 50%;
    text-align: justify;
}

section#info div.pros {
    align-self: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#info div.pros ol {
    width: 100%;
}

section#info div.pros li {
    width: 70%;
    margin: 0 15%;
    font-size: 1.3em;
    text-align: left;
    font-weight: bold;
}


section#whoweare{
    background-image: url("/assets/fondoEstrellas.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    padding: 5vw 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

section#whoweare h3{
    font-size: 2em;
}

section#whoweare img{
    margin: 50px 0;
    align-self: center;
    justify-self: center;
}




